<% @movies.each do |movie| %>
<section class="movie">
  <div class="summary">
    <h2><%= movie.title %></h2>
    <h3><%= total_gross(movie) %></h3>
    <p><%= truncate(movie.description, length: 35, separator: " ") %></p>
    <!-- <h3><%= year_of(movie) %></h3> -->
  </div>
</section>
<% end %>
